@font-face {
    font-family: 'Hyundai Sans Head';
    src: url('HyundaiSansHead-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Head';
    src: url('HyundaiSansHeadMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Head';
    src: url('HyundaiSansHead-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text';
    src: url('HyundaiSansText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Head';
    src: url('HyundaiSansHead.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text';
    src: url('HyundaiSansText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text';
    src: url('HyundaiSansText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text';
    src: url('HyundaiSansText-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai SansText';
    src: url('HyundaiSansText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hyundai Sans Text';
    src: url('HyundaiSansText.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

