@media only screen and (min-width: 641px){
    .f_menu li a:hover,.f_icon a:hover, .btn_app .btn_store:hover,.cate_btn:hover{
        opacity: 0.8;
    }
    .gnavi_pc a:hover{
        color:#3cafd5;
    }
    .topic_path li a:hover{
        opacity: 0.8;
    }
    .sub_menu_cnt_top li a:hover{
        color:#3cafd5;
    }
    .btn_down:hover{
        text-decoration: underline;
    }
}
@media only screen and (min-width: 641px) and (max-width: 1580px) {
    .img_main img {
        top: 50% !important;
    }
}




@media only screen and (max-width:414px) {
    .menu_cnt_top li a p i {
        margin: 0;
        font-size: 26px;
    }
    .img_app img{
        width:120px;
    }
    .btn_app{
        margin-left:15px;
    }
    .btn_app .btn_store{
        padding:10px;
        font-size:11px;
    }
    .cate_btn {
        font-size: 21px;
    }
    .prev_cate {
        padding-left: 25px;
    }
    .next_cate {
        padding-right: 25px;
    }
    .tlt_h3 {
        font-size: 24px !important;
    }
    .tlt_h4 {
        font-size: 21px;    
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    button,
    textarea,
    select,
    p,
    blockquote,
    th,
    td,
    pre,
    address,
    li,
    dt,
    dd {
        font-size: 140%;
    }

    #wrapper {
        min-width: 100% !important
    }

    .container {
        width: 100%  !important;

    }

    .pc {
        display: none
    }

    .sp {
        display: block
    }

    .logo {
        width: 200px;
        margin: 5px 0 0 0
    }

    #header .header_sp{
        display:block;
    }
    .header_main{
        position: relative;
        justify-content: space-between;
    }
    .h_box h1 img{
        width:130px;
    }
    .tlt_page_top{
        position: absolute;
        left:50%;
        transform: translate(-50%);
        font-size:16px;
        font-weight:bold;
        display:block !important;
    }
    .btn_search{
        position: absolute;
        right: 15%;
        transform: translate(50%);
    }
    .topic_path{
        display:none !important;
    }
    section,.section{
        margin-bottom:20px;
    }
    /******************Gnavi********************************/
    .ico_menu_click {
        display: inline-block !important;
        float: right;

    }

    .icon_menu {
        display: inline-block;
        float: right;
        padding: 10px 5px 7px;
        margin: 0px 0 0 0;
        width: 45px;
        text-align: center;
        height: 58px;
        position: relative;

    }

    .icon_menu.open {
        position: absolute;
    }

    .icon_menu.closes.active {
        background: #fff
    }

    .icon_menu span {
        display: block;
        background: #000;
        width: 72%;
        height: 2px;
        position: relative;
        margin: 2px auto 0;
    }

    .icon_menu span:after,
    .icon_menu span:before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background: #000;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        left: 0;
        right: 0;
        margin: 0 auto
    }

    .icon_menu:after {
        content: "";
        position: absolute;
        bottom: 4px;
        color: #fff;
        font-size: 15px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-family: 'Caveat', cursive;
    }

    .icon_menu.active span:after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: -9px
    }

    .icon_menu.active span:before {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .icon_menu.active span {
        background: transparent
    }

    .icon_menu span:after {
        bottom: -18px;
    }

    .icon_menu span:before {
        top: 9px;
    }

    #close {
        display: block;
        background: #29853A;
        color: #fff;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        font-size: 16px;
        padding: 15px;
    }

    .header_main #gnavi {
        position: absolute;
        left: 0;
        width: 100%;
        overflow: auto;
        z-index: 10;
        display: none;
        top: 59px;
        background: #fff;
        animation: none
    }
    .tlt_page_top{
        display:block;
    }
    .header_main #gnavi.open{
        display:block
    }

    .gnavi_pc {
        display: block;
        width: 100%
    }

    .gnavi_pc > li {
        background: #000
    }

    .gnavi_pc label,
    .gnavi_pc a {
        display: block;
        color: #fff
    }


    .gnavi_pc > li:nth-child(n) {
        display: block;
        width: 100%
    }

    .gnavi_pc .sub {
        width: 100%;
        position: static;
        visibility: visible;
        opacity: 1;
        display: none;
        padding: 0;
        transition: none;
        margin: 0
    }

    .gnavi_pc .sub a {
        background: rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid #A6D19A;
        padding: 15px;
        text-align: left;
        color: #4EA435;
        font-size: 16px;
    }

    .gnavi_pc .sub li:hover a {
        background: #fff;
        color: #4EA435
    }

    .gnavi_pc .sub li {
        border: 0;
        transition: none;
        background: #fff
    }

    .gnavi_pc > li > a {
        color: #fff !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        display: block;
        padding: 15px 25px 15px 15px;
        letter-spacing: 1px;
        font-size: 16px;
        position: relative;
        text-align: left
    }

    .gnavi_pc > li > label {
        text-align: left;
        font-size: 16px;
        padding: 15px 25px 15px 15px;
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }

    .gnavi_pc > li > label:after,
    .gnavi_pc > li > label:before {
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 1px;
        background: #fff;
    }

    .gnavi_pc > li > label:before {
        transform: translateY(-50%) rotate(90deg);
    }

    .gnavi_pc > li > label.active:before {
        display: none
    }


    .gnavi_pc > li > a:hover {
        color: #fff
    }
    .slider_main li img{
        height:100%;
    }
    /***********************Content********************************/
    .menu_cnt_top span{
        display:none;
    }
    .menu_cnt_top li a p i{
        margin:0;
        font-size:36px;
    }
    .menu_cnt_top{
        justify-content: space-around !important;
    }
    .img_main {
        height: 360px !important;
    }
    .img_main img {
        top: 180px !important;
        height: 100%;
    }
    .h_box h1 {
        padding-left: 10px;
    }
    .sub_menu_cnt_top{
        width:800px !important;
        justify-content: space-around;
        padding:15px !important;
    }
    .tlt_slider_main {
        left: 35%;
        font-size: 45px;
    }
    .sub_menu_content{
        overflow: scroll;
    }
    .tlt_h3{
        margin-bottom: 15px !important;
    }
    .img_center img {
        height:100%;
        object-fit: cover;
    }
    canvas {
        width: 100%;
    }
    .scroll360 img {
        width: 15%;
        object-fit: cover;
        border-radius: 50%;
    }
    .tlt_choose_cl p {
        font-size: 18px;
        line-height: 1.6em;
        margin-bottom:10px
    }
    .tlt_choose_cl p span {
        font-size: 14px;
    }
    .car_color{
        width:100%;
        flex-direction: column;
    }
    .img_center {
        height: 285px !important;
        margin-bottom: 25px !important;
    }
    .tlt_blog {
        font-size: 18px !important;
    }
    .tlt_center span{
        font-size:14px !important;
    }
    .tlt_h4 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .prev-next-cate{
        padding:40px 10px;
    }
    .cate_btn{
        font-size:18px !important;
    }
    .cate_btn i {
        top: 2px !important;
        font-size: 21px !important;
    }
    .prev_cate i {
        left: 3px !important;
    }
    .next_cate i {
        right: 3px !important;
    }
    .prev_cate {
        padding-left: 30px !important;
    }
    .next_cate {
        padding-right: 30px !important;
    }
    .box01,.box02,.box03,.box04{
        padding: 45px 10px !important;
        padding-bottom:0 !important;
    }

    .box02 {
        padding:10px
    }

    .box03 {
        padding: 45px 10px
    }

    .box04 {
        padding: 45px 10px
    }

    .box05 {
        padding: 45px 10px
    }

    /*******************************************************/
    /******************Footer********************************/
    .f_menu_flex, .f_box02_flex, .f_box03_flex{
        flex-wrap:wrap;
    }
    .f_menu_flex .f_menu, .f_box02_flex .f_menu, .f_box03_flex .f_menu{
        width:50%;
    }
    .f_box01, .f_box02, .f_box03{
        padding:15px !important;
    }
    .f_intro{
        width:100% !important;
    }
    .f_box03_flex{
        text-align: center;
        justify-content: center;
    }
    .f_intro span {
        font-size: 11px;
    }
    .f_box02{
        padding:35px 15px;
    }
    .copyright {
        padding: 10px 0;
        letter-spacing: 0;

    }
    #totop a {
        width: 35px;
        height: 35px;
    }
    .tlt_center {
        margin-bottom: 20px;
    }

}

@media only screen and (max-width:374px) {}
