@media only screen and (min-width: 641px){
    .f_menu li a:hover,.f_icon a:hover, .btn_app .btn_store:hover{
        opacity: 0.8;
    }
    .gnavi_pc a:hover{
        color:#3cafd5;
    }
    .topic_path li a:hover{
        opacity: 0.8;
    }
    .sub_menu_cnt_top li a:hover{
        color:#3cafd5;
    }
}
@media only screen and (min-width: 641px) and (max-width: 1200px) {}



@media only screen and (max-width: 640px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    button,
    textarea,
    select,
    p,
    blockquote,
    th,
    td,
    pre,
    address,
    li,
    dt,
    dd {
        font-size: 140%;
    }

    #wrapper {
        min-width: 100%
    }

    .container {
        width: 100%;
       
    }

    .pc {
        display: none
    }

    .sp {
        display: block
    }

    .logo {
        width: 200px;
        margin: 5px 0 0 0
    }

    .header_sp{
        display:block;
    }
    /******************Gnavi********************************/
    .ico_menu_click {
        display: inline-block;
        float: right;

    }

    .icon_menu {
        display: inline-block;
        float: right;
        padding: 8px 5px 37px;
        background: #50A339;
        margin: 5px 0 0 0;
        width: 55px;
        text-align: center;
        height: 58px;
        position: relative;

    }

    .icon_menu.open {
        position: absolute;
        background: red
    }

    .icon_menu.closes.active {
        background: #000
    }

    .icon_menu span {
        display: block;
        background: #fff;
        width: 72%;
        height: 3px;
        position: relative;
        margin: 2px auto 0;
    }

    .icon_menu span:after,
    .icon_menu span:before {
        content: "";
        position: absolute;
        height: 3px;
        width: 100%;
        background: #fff;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        left: 0;
        right: 0;
        margin: 0 auto
    }

    .icon_menu:after {
        content: "Menu";
        position: absolute;
        bottom: 4px;
        color: #fff;
        font-size: 15px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-family: 'Caveat', cursive;
    }

    .icon_menu.active span:after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: -9px
    }

    .icon_menu.active span:before {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .icon_menu.active span {
        background: transparent
    }

    .icon_menu span:after {
        bottom: -18px;
    }

    .icon_menu span:before {
        top: 9px;
    }

    #close {
        display: block;
        background: #29853A;
        color: #fff;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        font-size: 16px;
        padding: 15px;
    }

    #gnavi {
        position: fixed;
        left: 0;
        width: 100%;
        overflow: auto;
        z-index: 10;
        display: none;
        top: 121px;
        height: calc(100% - 121px);
        background: #fff;
        animation: none
    }

    .gnavi_pc {
        display: block;
        width: 100%
    }

    .gnavi_pc > li {
        background: #4EA435
    }

    .gnavi_pc label,
    .gnavi_pc a {
        display: block;
        color: #fff
    }


    .gnavi_pc > li:nth-child(n) {
        display: block;
        width: 100%
    }

    .gnavi_pc .sub {
        width: 100%;
        position: static;
        visibility: visible;
        opacity: 1;
        display: none;
        padding: 0;
        transition: none;
        margin: 0
    }

    .gnavi_pc .sub a {
        background: rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid #A6D19A;
        padding: 15px;
        text-align: left;
        color: #4EA435;
        font-size: 16px;
    }

    .gnavi_pc .sub li:hover a {
        background: #fff;
        color: #4EA435
    }

    .gnavi_pc .sub li {
        border: 0;
        transition: none;
        background: #fff
    }

    .gnavi_pc > li > a {
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        display: block;
        padding: 15px 25px 15px 15px;
        letter-spacing: 1px;
        font-size: 16px;
        position: relative;
        text-align: left
    }

    .gnavi_pc > li > label {
        text-align: left;
        font-size: 16px;
        padding: 15px 25px 15px 15px;
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }

    .gnavi_pc > li > label:after,
    .gnavi_pc > li > label:before {
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 1px;
        background: #fff;
    }

    .gnavi_pc > li > label:before {
        transform: translateY(-50%) rotate(90deg);
    }

    .gnavi_pc > li > label.active:before {
        display: none
    }


    .gnavi_pc > li > a:hover {
        color: #fff
    }

    /***********************Content********************************/
    .idx_h3 {}

    .box01 {
        padding: 45px 10px
    }

    .box02 {
        padding: 45px 10px
    }

    .box03 {
        padding: 45px 10px
    }

    .box04 {
        padding: 45px 10px
    }

    .box05 {
        padding: 45px 10px
    }

    /*******************************************************/
    /******************Footer********************************/

    .copyright {
        padding: 10px 0;
        letter-spacing: 0;

    }

    .sliderbar_fix {
        width: 100%;
        display: flex;
        position: fixed;
        bottom: 0;
        z-index: 5
    }

    .sliderbar_fix li {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        line-height: 0;
        width: 50%;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        letter-spacing: 1px
    }


    .sliderbar_fix span {
        display: inline-block;
        position: relative
    }

    .sliderbar_fix .web {
        background: #90C422
    }

    .sliderbar_fix .web span {
        font-size: 4vw;
        padding: 0 5vw;
        position: relative
    }

    .sliderbar_fix .web span:after,
    .sliderbar_fix .web span:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 40px;
        top: 0;
    }

    .sliderbar_fix .web span:after {
        background: url(../images/icon_arr.png) no-repeat right 0 top 50%;
        background-size: 2.9vw;
        right: 0;
    }

    .sliderbar_fix .web span:before {
        background: url(../images/icon_email.png) no-repeat left 0 top 50%;
        background-size: 3.6vw;
        left: 0;
    }

    .sliderbar_fix .web span .sliderbar_fix .web a {
        font-size: 3vw;
    }

    .sliderbar_fix .tel {
        background: #DF446F
    }

    .sliderbar_fix .tel .call {
        font-size: 5vw;
        padding: 1vw 0 1vw 4vw;
        position: relative
    }

    .sliderbar_fix .tel .call:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 20px;
        background: url(../images/icon_tel_white.png) no-repeat 0 50%;
        background-size: 3vw;
    }

    .sliderbar_fix a {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        height: 100%;
        text-decoration: none;
        color: #fff;
        padding: 10px 5px 8px;
        font-weight: bold;
        line-height: 1.4em;
    }

    .sliderbar_fix a:hover {
        color: #fff;
    }


    .sliderbar_fix .hours {
        font-weight: 500;
        letter-spacing: 0;
        font-size: 3vw
    }


    #totop a {
        width: 35px;
        height: 35px;
    }





}

@media only screen and (max-width:530px) {

    /*************under*******/

}

@media only screen and (max-width:414px) {}

@media only screen and (max-width:374px) {}
