@media only screen and (min-width: 641px){
    .f_menu li a:hover,.f_icon a:hover, .btn_app .btn_store:hover,.cate_btn:hover{
        opacity: 0.8;
    }
    .gnavi_pc a:hover{
        color:#3cafd5;
    }
    .topic_path li a:hover{
        opacity: 0.8;
    }
    .sub_menu_cnt_top li a:hover{
        color:#3cafd5;
    }
    .btn_down:hover{
        text-decoration: underline;
    }
}
@media only screen and (min-width: 641px) and (max-width: 1580px) {
    .img_main img {
        top: 50% !important;
    }
}



@media only screen and (max-width:640px) {
    .tlt_choose_cl {
        width: 40% !important;
    }
    .f_menu_h.open .sub_menu{
        display:block !important;
    }
    .f_menu_h.open:after{
        transform: translate(50%, 55%) rotate(-45deg) scale(0.5) skew(2deg, 2deg) !important;
    transition: 0.3s;
    }
    .menu_cnt_top li a p i {
        margin: 0;
        font-size: 26px;
    }
    .img_app img{
        width:42%;
    }
    .btn_app{
        margin-left:0 !important;
    }
    .btn_app .btn_store{
        min-width:180px !important;
    }
    .btn_app .btn_store{
        padding:10px;
        font-size:11px;
    }
    .cate_btn {
        font-size: 21px;
    }
    .prev_cate {
        padding-left: 25px;
    }
    .next_cate {
        padding-right: 25px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    button,
    textarea,
    select,
    p,
    blockquote,
    th,
    td,
    pre,
    address,
    li,
    dt,
    dd {
        font-size: 140%;
    }

    #app {
        min-width: 100% !important
    }

    .inner {
        width: 100%  !important;

    }

    .pc {
        display: none
    }

    .sp {
        display: block
    }

    .logo {
        width: 200px;
        margin: 5px 0 0 0
    }

    #header .header_sp{
        display:block;
    }
    .header_main{
        position: relative;
        justify-content: space-between;
    }
    .h_box h1 img{
        width:130px;
    }
    .tlt_page_top{
        position: absolute;
        left:50%;
        transform: translate(-50%);
        font-size:16px;
        font-weight:bold;
        display:block !important;
    }
    .btn_search{
        position: absolute;
        right: 10% !important;
        transform: translate(50%);
    }
    .topic_path{
        display:none !important;
    }
    /******************Gnavi********************************/
    .ico_menu_click {
        display: inline-block !important;
        float: right;

    }

    .icon_menu {
        display: inline-block;
        float: right;
        padding: 13px 5px 7px !important;
        margin: 0px 0 0 0;
        width: 45px;
        text-align: center;
        height: 58px;
        position: relative;

    }

    .icon_menu.open {
        position: absolute;
    }

    .icon_menu.closes.active {
        background: #fff
    }

    .icon_menu span {
        display: block;
        background: #000;
        width: 72%;
        height: 2px;
        position: relative;
        margin: 2px auto 0;
    }

    .icon_menu span:after,
    .icon_menu span:before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        background: #000;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        left: 0;
        right: 0;
        margin: 0 auto
    }

    .icon_menu:after {
        content: "";
        position: absolute;
        bottom: 4px;
        color: #fff;
        font-size: 15px;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-family: 'Caveat', cursive;
    }

    .icon_menu.active span:after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: -9px
    }

    .icon_menu.active span:before {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .icon_menu.active span {
        background: transparent
    }

    .icon_menu span:after {
        bottom: -18px;
    }

    .icon_menu span:before {
        top: 9px;
    }

    #close {
        display: block;
        background: #29853A;
        color: #fff;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        font-size: 16px;
        padding: 15px;
    }

    .header_main #gnavi {
        position: absolute;
        right: -100%;
        width: calc(100% - 50px);
        overflow: auto;
        z-index: 10;
        opacity: 0;
        display: block;
        top: 68px;
        background: #f7f3f2;
        -webkit-animation: none;
        animation: none;
        height: 101vh;
    }
    .tlt_page_top{
        display:block;
    }
    .header_main #gnavi.open{
        right:0;
        opacity: 1;
        margin-right:0;
    }

    .gnavi_pc {
        display: block;
        width: 100%
    }

    .gnavi_pc > li {
        background: #f7f3f2
    }

    .gnavi_pc label,
    .gnavi_pc a {
        display: block;
        color: #fff
    }


    .gnavi_pc > li:nth-child(n) {
        display: block;
        width: 100%
    }

    .gnavi_pc .sub {
        width: 100%;
        position: static;
        visibility: visible;
        opacity: 1;
        display: none;
        padding: 0;
        transition: none;
        margin: 0
    }

    .gnavi_pc .sub a {
        background: rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid #A6D19A;
        padding: 15px;
        text-align: left;
        color: #4EA435;
        font-size: 16px;
    }

    .gnavi_pc .sub li:hover a {
        background: #fff;
        color: #4EA435
    }

    .gnavi_pc .sub li {
        border: 0;
        transition: none;
        background: #fff
    }

    .gnavi_pc > li > a {
        color: #7d7b7c !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        display: block;
        padding: 15px 25px 15px 15px;
        letter-spacing: 1px;
        font-size: 16px;
        position: relative;
        text-align: left;
        font-weight:600
    }

    .gnavi_pc > li > label {
        text-align: left;
        font-size: 16px;
        padding: 15px 25px 15px 15px;
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }

    .gnavi_pc > li > label:after,
    .gnavi_pc > li > label:before {
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 1px;
        background: #fff;
    }

    .gnavi_pc > li > label:before {
        transform: translateY(-50%) rotate(90deg);
    }

    .gnavi_pc > li > label.active:before {
        display: none
    }


    .gnavi_pc > li > a:hover {
        color: #fff
    }
    .slider_main li img{
        height:100%;
    }
    /***********************Content********************************/
    .menu_cnt_top span{
        display:none;
    }
    .menu_cnt_top li a p i{
        margin:0;
        font-size:36px;
    }
    .menu_cnt_top{
        justify-content: space-around !important;
    }
    .img_main {
        height: 540px !important;
    }
    .img_main img {
        top: 50% !important;
        height: 100%;
        object-fit: cover;
    }
    .h_box h1 {
        padding-left: 10px;
    }
    .sub_menu_cnt_top{
        width:800px !important;
        justify-content: space-around;
        padding:15px !important;
    }
    .sub_menu_content{
        overflow: scroll;
    }
    .tlt_h3{
        margin-bottom: 15px !important;
        font-size:27px !important;
    }
    .img_center img {
        height:100%;
        object-fit: cover;
    }
    canvas {
        width: 100%;
    }
    .scroll360 img {
        width: 15%;
        object-fit: cover;
        border-radius: 50%;
    }
    .tlt_choose_cl p {
        font-size: 18px;
        line-height: 1.6em;
        margin-bottom:10px
    }
    .tlt_choose_cl p span {
        font-size: 14px;
    }
    .car_color{
        width:100%;
        flex-direction: column;
    }
    .img_center {
        height: 285px !important;
        margin-bottom: 25px !important;
    }
    .tlt_blog {
        font-size: 18px !important;
    }
    .tlt_center span{
        font-size:14px !important;
    }
    .tlt_h4 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .prev-next-cate{
        padding:40px 10px;
    }
    .cate_btn{
        font-size:18px !important;
    }
    .cate_btn i {
        top: 2px !important;
        font-size: 21px !important;
    }
    .prev_cate i {
        left: 3px !important;
    }
    .next_cate i {
        right: 3px !important;
    }
    .prev_cate {
        padding-left: 30px !important;
    }
    .next_cate {
        padding-right: 30px !important;
    }
    .box01,.box02,.box03,.box04{
        padding: 25px 10px !important;
    }

    .box02 {
        padding:10px
    }

    .box03 {
        padding: 45px 10px
    }

    .box04 {
        padding: 45px 10px
    }

    .box05 {
        padding: 45px 10px
    }
    .tlt_slider_main {
        left: 0 !important;
        margin-left: 285px;
        width:100%;
        top:85px !important;
        font-size: 38px !important;
    }
    .VueCarousel-dot{
        margin-top:0 !important;
    }
    .VueCarousel-pagination {
        bottom: 0px !important;
    }
    .select_ver{
        flex-direction: column;
    }
    .tlt_ver{
        font-size:21px !important;
        margin-bottom:10px !important;
    }
    .custom-select-wrapper{
        width:100% !important;
    }
    .scroll_tab{
        overflow:scroll;
    }
    .tab_ver{
        width:600px;
    }
    #slide_sp .VueCarousel-slide{
        height:100%;
    }
    #slide_sp .VueCarousel-slide img{
        height:250px;
        width:100%;
        object-fit: cover;
        margin-bottom:10px !important;
    }
    #slide_sp .VueCarousel-slide .tlt_h3{
        font-size:18px !important;
        margin-bottom:0 !important;
    }
    #slide_sp{
        margin-bottom:30px;
    }
    #slide_sp .VueCarousel-pagination{
        bottom:-25px !important;
    }
    #slide_sp .VueCarousel-dot{
        border: 1px solid #c6c6c6;
        padding: 0 !important;
        margin: 0 5px;
    }
    #slide_sp .VueCarousel-dot.VueCarousel-dot--active{
        border:none !important;
    }
    #slide_sp .VueCarousel-navigation-button {
        top: 42%;
        background: #0009;
    }
    #slide_pc .VueCarousel-navigation-button{
        top:28% !important;
        background-color: #0009 !important;
    }
    #slide_pc .VueCarousel-wrapper {
        height: auto !important;
    }
    .item_box_tgle{
        height:380px !important;
    }
    .item_box_tgle.on{
        height:100% !important
    }
    .item_toggle{
        height:380px !important;
    }
    .btnShow{
        top:300px !important
    }
    .item_content{
        padding:30px 10px !important;
    }
    .tlt_item {
        font-size: 34px !important;
        font-weight: bold;
    }
    .VueCarousel-wrapper .cnt_slide{
        font-size:16px !important;
        display:block;
        margin-top:10px !important;
    }
    .stt_slide {
        right: 10px !important;
        bottom: 100px !important;
        font-size: 15px !important;
    }
    .img_lib{
        margin-bottom:0 !important;
    }
    .thumbnail-image{
        height:100px !important;
    }
    .prev, .next {
        width: 35px !important;
        height: 35px !important;
        font-size: 28px !important;
    }
    .tbl_select_ss{
        overflow: scroll;
    }
    .tbl_select{
        width:100%;
    }
    .tbl_select .tbl_border{
        width:100% !important;
    }
    .btn_tab{
        min-width:162px !important;
    }
    .tbl_ss{
        width:800px
    }
    .tab{
        display:flex;
        width:800px;
        justify-content: flex-end;
    }
    .tbl_border{
        width:800px;
    }
    #slide_pc .tlt_center{
        text-align: left;
    }
    #slide_pc .tlt_center .tlt_h3{
        font-size:24px !important
    }
    .row_cnt p {
        padding: 15px 15px !important;
    }
    .tbl_select .tlt_select{
        padding-left:15px !important
    }
    .custom-select__trigger {
        padding: 0 15px !important;
        font-size: 15px !important;
    }
    .row_cnt {
        width: 100% !important;
    }
    .row_cnt p{
        font-size:13px !important;
    }
    .tbl_select .tlt_select{
        font-size:16px !important
    }
    .btn_share {
        position: absolute;
        margin-right: 20px;
        right: 70px;
    }
    .dow_app{
        width:100%
    }
    .stt_slide{
        color: #fff;
        font-size: 14px !important;
        position: absolute;
        right: 15px;
        bottom: 0px !important;
        letter-spacing: 0.1em;
    }
    .arr_sp #slide_sp .VueCarousel-navigation-button {
        top: 30% !important;
    }
    .arr_sp .VueCarousel-navigation-prev {
        left:24px !important;
        transform: translateY(-50%) translateX(-65%) !important;
    }
    .arr_sp .VueCarousel-navigation-next {
        transform: translateY(-50%) translateX(65%) !important;
    }
    .arr_sp #slide_pc .VueCarousel-navigation-button {
        top: 23% !important;
        background-color: #0009 !important;
    }
    .arr_sp  .VueCarousel-navigation-button.VueCarousel-navigation-prev{
        left:24px !important;
    }
    .arr_sp  .VueCarousel-navigation-button.VueCarousel-navigation-next{
        right:24px !important;
    }
    .scroll360{
        left:0 !important;
    }
    /*******************************************************/
    /******************Footer********************************/
    .f_menu_flex, .f_box02_flex, .f_box03_flex{
        flex-wrap:wrap;
    }
    .f_menu_h:after{
        display: block;
        position: absolute;
        top: 0;
        content: '';
        width: 21px;
        right:10px;
        height: 21px;
        transform: translate(50%) rotate(135deg) scale(0.5) skew(2deg, 2deg);
        transition: 0.3s;
        border-top: 3px solid #000;
        border-right: 3px solid #000;
    }
    .f_menu_flex{
        flex-direction: column;
    }
    .f_menu{
        width:100% !important;
    }
    .f_menu_flex .f_menu, .f_box02_flex .f_menu, .f_box03_flex .f_menu{
        width:50%;
    }
    .f_box01, .f_box02, .f_box03{
        padding:15px !important;
    }
    .f_intro{
        width:100% !important;
    }
    .f_box03_flex{
        text-align: center;
        justify-content: center !important;
    }
    .f_intro span {
        font-size: 13px !important;
    }
    .f_box02{
        padding:35px 15px !important;
    }
    .copyright {
        padding: 10px 0;
        letter-spacing: 0;

    }
    #totop a {
        width: 35px;
        height: 35px;
    }
    .tlt_center {
        margin-bottom: 20px;
        width:100% !important;
    }
    .item_toggle img{
        height:100% !important; 
    }
    .d-show {
        display: none;
    }
}
@media only screen and (max-width:414px) {
    .btn_search {
        right: 15% !important;
    }
}
@media only screen and (max-width:374px) {
    .btn_search {
        position: absolute;
        right: 16% !important;
        transform: translate(50%);
    }
    .tlt_slider_main {
        margin-left: 175px;
        font-size:34px;
    }
    .tlt_slider_main span {
        font-size: 22px;
    }
    .cnt.pd_t{
        padding-top:123px !important;
    }
}
