@media only screen and (min-width: 641px) {}

@media only screen and (min-width: 641px) and (max-width: 1200px) {}



@media only screen and (max-width: 640px) {

    .under #content {
        padding: 20px 10px;
        width: 100%
    }

    

    .image_r,
    .image_l {
        text-align: center;
        margin: 0 auto 25px;
        float: none
    }

    .under .section,
    .under section {
        margin-bottom: 35px
    }
}

@media only screen and (max-width:530px) {}

@media only screen and (max-width:414px) {}

@media only screen and (max-width:374px) {}
